# Ignore all files under out
/out
# Ignore workspace.xml
.idea/workspace.xml
# Ignore irrelevant src files
/src/*.class
/src/XQuery.interp
src/XQueryParser.java
# Ignore input and output files
results.xml
xquery.txt
.idea/libraries/antlr_4_7_1_complete.xml
